@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.empty {
  height: 2.9vh;
  border: none;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.glyphreader, .pharaohs, .gods, .about, .dictionary, .phonograms, .loginpage
{
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 92vh;
  justify-content: center;
}

@media (max-width: 1024px){
  .glyphreader, .pharaohs, .gods, .about, .dictionary, .phonograms, .loginpage
{
  width: 110vh;
  min-height: 250vh;
}
  .about-box {
    max-width: 100%; 
    margin: 5%;
  }
  .flex-container{

  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .glyphreader, .pharaohs, .gods, .about, .dictionary, .phonograms, .loginpage
  {
    width: 110vh;
    min-height: 150vh;
  }
  }

.dictionary,.phonograms, .gods, .about {
  background-image: url("../images/glyphs.jpg");
}
.glyphreader{
  background-image: url("../images/wall.jpg");
}
.pharaohs{
  background-image: url("../images/pharaohs.jpg");

}
.loginpage{
  background-image: url("../images/pyramids.jpg");

}
.pharaohs a:link {
  color: #497DDD;
  border-bottom: 1px dashed;
}
.pharaohs a:visited {
  color: #EF7D55;
}
.pharaohs a:hover {
  color: #154088;
  border-bottom: .07em solid;
}
.pharaohs a:active {
  color: #497DDD;
  border-bottom: 1px dashed;
}




