.btn {
    border-color: #FBEEC1;
    border-width: 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #FBEEC1;
    font-size: 1.1rem;
    padding: 6px 10px;

}

.btn:hover {
    color: #734222;
    background: #FBEEC1;

}
.btn a {
    border-color: #FBEEC1;
    border-width: 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #FBEEC1;
}

.btn a:hover {
    color: #734222;

}

@media (max-width: 768px){
    .btn {
        font-size: 0.7rem;
        padding: 6px;
    }
}


