.pharaohs-submenu {
    position: absolute;
    top: 7.2vh;
    list-style: none;
    text-align: start;
    margin: auto -4vh;
}

.pharaohs-submenu li {
    background: #673923;
    cursor: pointer;
}

.pharaohs-submenu li a:hover {
    background: #995231;
}

.pharaohs-submenu.clicked {
    display: none;
}

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}