.filterbar {
    background-color: #FBEEC1;
    margin: 0 auto;
    padding: 1em;
/*    border-color: #A55C39;
    border-width: thin;
    border-style: wave;*/
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 180vh;
}

@media (max-width: 1025px){
    .filterbar {
        margin: 0 5vh;
        width: 100vh;
    }
}