.headerTab{
    background-color: #FBEEC1;
    border-radius: 5px;
    padding: 1vh;
    margin: 1vh auto;
    display: table;
}

.bloc-tabs {
    display: flex;
    width: 180vh;
    margin: 0 auto;
}

@media (max-width: 1024px){
    .bloc-tabs {
        width: 100vh;
        margin: 0 5vh;
    }
}
/*Неактивные вкладки*/
.tabs {
    padding: 8px;
    text-align: center;
    width: 50%;
    background: #995231;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    margin: 0 0 1vh 0;
    color: white;
    top: 0;
    transition: all 0.25s;
}
.tabs:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
/*Граница справа для вкладки*/
.tabs:not(:last-child){
/*    border-right: 1px solid rgba(255, 255, 255, 0.274);*/
}

/*Активная вкладка*/
.active-tabs  {
    background: #A55C39;

}

/*Линия над вкладкой*/
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100%);
    height: 5px;
    background: white;
}


button {
    border: none;

}
.content-tabs {
    flex-grow : 1;
}

.active-content {
    display: block;
}