.btn {
    border-color: #FBEEC1;
    border-width: 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #FBEEC1;
    font-size: 1.1rem;
    padding: 6px 20px;

    margin-bottom: 2vh;

}

.btn:hover {
    color: #734222;
    background: #FBEEC1;

}