/* Стиль всего navbar */
.navbar {
    height: 8vh;
    background:  #673923;
    display: flex;
    justify-content: center;
    align-items: center;
/* Чтоб закрепить вверху
position: fixed;
top: 0; */
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    margin-bottom: 2vh;
    cursor: default;
}

/* Стиль всей панели элементов */
.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 1rem;
}

/* Стиль всей панели элементов */
.nav-item {
    display: flex;
    align-items: center;
    height: 6vh;
}

/* Стиль каждого элемента по отдельности */
.nav-item a {
    text-decoration: none;
    color: #FBEEC1;
    font-size: 1.1rem;
    padding: 6px 16px;
    border-radius: 5px;

}
/* Стиль активного элемента */
.nav-item a.active {
    border: none;
    padding: 6px 16px;
    font-size: 1.1rem;
    color: #734222;
    background: #FBEEC1;
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
}
/* Стиль при наведении мышкой */
.nav-item a:hover {
    transform:scale(1.05)
}
