@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.glyphreader, .pharaohs, .gods, .about, .dictionary, .phonograms
{
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 92vh;
}

.dictionary,.phonograms, .gods, .about {
  background-image: url("./images/glyphs.jpg");
}
.glyphreader{
  background-image: url("./images/wall.jpg");
}
.pharaohs{
  background-image: url("./images/pharaohs.jpg");
}


